<% content_for :cabecalho do %>
  <%= stylesheet_link_tag 'projeto' %>
  <%= javascript_include_tag 'flexcroll' %>
<% end %>

<% content_for :conteudo do %>

  <% form_for :bacco, :url => {:action => "update"}, :html => {:id => 'projeto_form'} do |f| %>
      <div class="background">
        <% if not @bacco.destaque.nil? %>
          <%= image_tag @bacco.destaque.public_filename, :id => 'foto_grande' %>
        <% else %>
          <img id="foto_grande">
        <% end %>
      </div>
      <%= hidden_field(:bacco, :destaque_id) %>
      <div id="texto_projeto" class="fundo_branco">
        <%= link_to 'Ajuda para formatação de texto', 'http://hobix.com/textile/', :popup => true  %>
        <%= textile_editor 'bacco', 'descricao', :class => 'edit_descricao', :id => 'editor_textile'-%>
        <%= textile_editor_initialize -%>
      </div>
  <% end %>

  <%= render :partial => "shared/edit_lista_fotos", :locals => { :grupo => @bacco, :campo_destaque => 'bacco_destaque_id' } %>

<% end %>

<% content_for :admin_links do %>
  <%= link_to "salvar", "javascript:document.getElementById('projeto_form').submit();", :class=>"menu_item" %>
  <%= link_to "cancelar modifica&ccedil;&otilde;es", equipe_path, :class=>"menu_item" %>
<% end %>

